.App {
  text-align: center;
}

li {
  list-style-type: circle;
}

/* ProjectCard CSS */

.moreInfoLink {
  text-decoration: none;
  color: white;
}

.moreInfoLink:visited {
  text-decoration: none;
  color: white;
}

/* Navbar CSS */

.navLinks {
  text-decoration: none;
  margin-right: 1rem;
}

.navLinks:visited {
  text-decoration: none;
  color: white;
}

.navbutton {
  font-size: 1.2rem;
  margin: 0;
}

.navLinksDrawer {
  text-decoration: none;
  margin-right: 1rem;
  color: black;
}

.navLinksDrawer:visited {
  text-decoration: none;
  color: black;
}

/* Presentation CSS */

.presentationContainer {
  margin-top: 3rem;
  margin-bottom: 2rem;
}

.presentationTitle {
  text-align: justify;
}

/* Footer CSS */

.efsetLink {
  text-decoration: none;
}

.efsetLink:active {
  text-decoration: none;
  color: black;
}

.efsetLink:visited {
  text-decoration: none;
  color: black;
}

.footer {
  margin-top: auto;
  width: 100%;
  min-height: 18vh;
  background: #293b5f;
}

.reactLink {
  text-decoration: none;
  color: white;
}

.reactLink:visited {
  text-decoration: none;
  color: #efefef;
}

.reactLink:hover {
  text-decoration: none;
  color: #f66b0e;
}

/* ScrollToTop Button CSS */

.upButton {
  position: sticky;
  text-align: end;
  margin-right: 20px;
  bottom: 0;
}
